DEBUG=True
GATEWAY_PORT=8000
USER_API_URL=http://user-api:3000
METADATA_API_URL=http://metadata-api:8000/storage
FILES_API_URL=http://files-api:8000
FRONTEND_URL=http://localhost:8080
JWT_SECRET=your-256-bit-secret-key-here-change-in-production
