DEBUG=True
GATEWAY_PORT=8000
USER_API_URL=http://user-api:3000
MUSIC_STORAGE_URL=http://music-storage:8000/storage
FRONTEND_URL=http://localhost:8080
JWT_SECRET=your-256-bit-secret-key-here-change-in-production
